<section class="">
  <div class="mx-auto max-w-2xl py-10 sm:py-10 lg:max-w-7xl">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">
      New Hot products
    </h2>
    <div class="container mx-auto mt-10">
      <!-- Image gallery -->
      <div
        class="mx-auto grid max-w-2xl lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8"
      >
        <div
          class="col-span-2 mb-5 overflow-hidden rounded-lg lg:mb-0 lg:block"
        >
          <img
            src="https://res.cloudinary.com/akazad13/image/upload/v1729420812/shopizy/ylspgiefieiuhsua66lx.jpg"
            alt="Model wearing plain white basic tee."
            class="h-full w-full object-cover object-center"
          />
        </div>
        <div class="col-span-1 lg:grid lg:grid-cols-1 lg:gap-y-8">
          <div class="mb-5 overflow-hidden rounded-lg lg:mb-0">
            <img
              src="https://res.cloudinary.com/akazad13/image/upload/v1729420812/shopizy/scbuxiqbi9kgkupt08vr.jpg"
              alt="Model wearing plain black basic tee."
              class="h-full w-full object-cover object-center"
            />
          </div>
          <div class="overflow-hidden rounded-lg">
            <img
              src="https://res.cloudinary.com/akazad13/image/upload/v1729420812/shopizy/le9fdkqmcyomzuwemze3.jpg"
              alt="Model wearing plain gray basic tee."
              class="h-full w-full object-cover object-center"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
