<footer class="bg-white dark:bg-gray-900">
  <div class="container mx-auto max-w-7xl p-6">
    <div class="p-6 lg:flex">
      <div class="w-full lg:w-2/5">
        <div class="px-6">
          <p
            class="mt-2 flex max-w-sm items-center gap-4 text-gray-500 dark:text-gray-400"
          >
            <img class="h-10 w-auto" src="/logo.png" alt="" /> Shop Easy -
            Shopizy
          </p>

          <div class="mt-2 flex">
            <a
              href="https://www.facebook.com/akazad.cse13"
              target="_blank"
              class="mx-2 text-gray-600 transition-colors duration-300 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-400"
              aria-label="Facebook"
            >
              <app-icon
                icon="facebook"
                classNames="h-6 w-6 text-blue-500"
              ></app-icon>
            </a>

            <a
              href="https://github.com/akazad13"
              target="_blank"
              class="mx-2 text-gray-600 transition-colors duration-300 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-400"
              aria-label="Github"
            >
              <app-icon icon="github" classNames="h-6 w-6"></app-icon>
            </a>
          </div>
        </div>
      </div>

      <div class="mt-6 lg:mt-0 lg:flex-1">
        <div
          class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
        >
          <div>
            <h3 class="uppercase text-gray-700 dark:text-white">About</h3>
            <a
              [routerLink]="['/', 'about-us']"
              class="mt-2 block text-sm text-gray-600 hover:underline dark:text-gray-400"
              >Company</a
            >
            <a
              class="mt-2 block text-sm text-gray-600 hover:underline dark:text-gray-400"
              >Policy</a
            >
          </div>

          <div>
            <h3 class="uppercase text-gray-700 dark:text-white">Support</h3>
            <a
              [routerLink]="['/', 'contact-us']"
              class="mt-2 block text-sm text-gray-600 hover:underline dark:text-gray-400"
              >Contact Us</a
            >
            <a
              [routerLink]="['/', 'faq']"
              class="mt-2 block text-sm text-gray-600 hover:underline dark:text-gray-400"
              >Faq</a
            >
          </div>

          <div>
            <h3 class="uppercase text-gray-700 dark:text-white">Products</h3>
            <a
              href="#"
              class="mt-2 block text-sm text-gray-600 hover:underline dark:text-gray-400"
              >Men</a
            >
            <a
              href="#"
              class="mt-2 block text-sm text-gray-600 hover:underline dark:text-gray-400"
              >Women</a
            >
          </div>

          <div>
            <h3 class="uppercase text-gray-700 dark:text-white">Contact</h3>
            <span
              class="mt-2 block text-sm text-gray-600 hover:underline dark:text-gray-400"
              >+1 526 654 8965</span
            >
            <span
              class="mt-2 block text-sm text-gray-600 hover:underline dark:text-gray-400"
              >{{ "shopizy@gmail.com" }}</span
            >
          </div>
        </div>
      </div>
    </div>

    <hr class="my-6 h-px border-none bg-gray-200 dark:bg-gray-700" />

    <div>
      <p class="text-center text-gray-500 dark:text-gray-400">
        © Shopizy {{ currentYear }} - All rights reserved
      </p>
    </div>
  </div>
</footer>
