<section class="bg-white py-4 antialiased dark:bg-gray-900 md:py-4">
  <div class="mx-auto max-w-screen-xl">
    <div class="space-y-4 border-b border-gray-200 py-8 dark:border-gray-700">
      <h4 class="text-lg font-semibold text-gray-900 dark:text-white">
        Billing & Delivery information
      </h4>

      <dl>
        <dd class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400">
          {{ order.shippingAddress.street }}, {{ order.shippingAddress.city }},
          {{ order.shippingAddress.state }},
          {{ order.shippingAddress.zipCode }},
          {{ order.shippingAddress.country }}
        </dd>
      </dl>
    </div>

    <div class="mt-6 sm:mt-8">
      <div
        class="relative overflow-x-auto border-b border-gray-200 dark:border-gray-800"
      >
        <table
          class="w-full text-left font-medium text-gray-900 dark:text-white md:table-fixed"
        >
          <thead>
            <th></th>
          </thead>
          <tbody class="divide-y divide-gray-200 dark:divide-gray-800">
            <tr *ngFor="let item of order.orderItems">
              <td class="whitespace-nowrap py-4 md:w-[384px]">
                <div class="flex items-center gap-4">
                  <a
                    href="#"
                    class="aspect-square flex h-10 w-10 shrink-0 items-center"
                  >
                    <img
                      class="h-auto max-h-full w-full dark:hidden"
                      src="{{ item.pictureUrl }}"
                      alt="{{ item.name }}"
                    />
                  </a>
                  <a href="#" class="hover:underline">{{ item.name }}</a>
                </div>
              </td>

              <td
                class="p-4 text-base font-normal text-gray-900 dark:text-white"
              >
                x{{ item.quantity }}
              </td>

              <td
                class="p-4 text-right text-base font-bold text-gray-900 dark:text-white"
              >
                ${{ item.unitPrice.amount * item.quantity }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mt-4 space-y-6">
        <h4 class="text-xl font-semibold text-gray-900 dark:text-white">
          Order summary
        </h4>

        <div class="space-y-4">
          <div class="space-y-2">
            <dl class="flex items-center justify-between gap-4">
              <dt class="text-gray-500 dark:text-gray-400">Original price</dt>
              <dd class="text-base font-medium text-gray-900 dark:text-white">
                ${{ orderSummary.subtotal.amount }}
              </dd>
            </dl>

            <dl class="flex items-center justify-between gap-4">
              <dt class="text-gray-500 dark:text-gray-400">Savings</dt>
              <dd class="text-base font-medium text-green-500">
                -${{ orderSummary.saving }}
              </dd>
            </dl>

            <dl class="flex items-center justify-between gap-4">
              <dt class="text-gray-500 dark:text-gray-400">Delivery Charge</dt>
              <dd class="text-base font-medium text-gray-900 dark:text-white">
                ${{ orderSummary.deliveryCharge.amount }}
              </dd>
            </dl>

            <dl class="flex items-center justify-between gap-4">
              <dt class="text-gray-500 dark:text-gray-400">Additional Fee</dt>
              <dd class="text-base font-medium text-gray-900 dark:text-white">
                ${{ orderSummary.fee.amount }}
              </dd>
            </dl>
          </div>

          <dl
            class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700"
          >
            <dt class="text-lg font-bold text-gray-900 dark:text-white">
              Total
            </dt>
            <dd class="text-lg font-bold text-gray-900 dark:text-white">
              ${{ orderSummary.totalPrice.amount }}
            </dd>
          </dl>
        </div>
        <div class="gap-4 sm:flex sm:items-center">
          <button
            type="button"
            [routerLink]="['/', 'account', 'orders']"
            class="hover:text-primary-700 w-full rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700"
          >
            Return to Orders
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
