<section class="">
  <div
    class="mx-auto max-w-2xl px-4 py-10 sm:px-6 sm:py-10 lg:max-w-7xl lg:px-8"
  >
    <h2 class="text-center text-4xl font-bold tracking-tight text-gray-900">
      New Hot products
    </h2>
    <div class="container mx-auto mt-10">
      <!-- Image gallery -->
      <div
        class="mx-auto grid max-w-2xl lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8"
      >
        <div
          class="col-span-2 mb-5 overflow-hidden rounded-lg lg:mb-0 lg:block"
        >
          <img
            src="{{ imageUrls[0] }}"
            alt="Model wearing plain white basic tee."
            class="h-full w-full object-cover object-center"
          />
        </div>
        <div class="col-span-1 lg:grid lg:grid-cols-1 lg:gap-y-8">
          <div class="mb-5 overflow-hidden rounded-lg lg:mb-0">
            <img
              src="{{ imageUrls[1] }}"
              alt="Model wearing plain black basic tee."
              class="h-full w-full object-cover object-center"
            />
          </div>
          <div class="overflow-hidden rounded-lg">
            <img
              src="{{ imageUrls[2] }}"
              alt="Model wearing plain gray basic tee."
              class="h-full w-full object-cover object-center"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
