<div class="bg-white">
  <div>
    <app-mobile-filters
      [hideMobileFilters]="hideMobileFilters"
      (hideMobileFiltersOutput)="showHideMobileFiltersDrawer($event)"
    ></app-mobile-filters>

    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div
        class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-12"
      >
        <h1 class="text-4xl font-bold tracking-tight text-gray-900">
          New Arrivals
        </h1>

        <div class="flex items-center">
          <div class="relative inline-block text-left">
            <div>
              <button
                type="button"
                class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900"
                id="menu-button"
                aria-expanded="false"
                aria-haspopup="true"
                (click)="showHideSortingOptions()"
              >
                Sort
                <app-icon
                  icon="chevron-down"
                  classNames="-mr-1 ml-1 h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
                ></app-icon>
              </button>
            </div>

            <div
              class="absolute right-0 z-10 mt-2 w-40 origin-top-right rounded-md bg-white shadow-2xl ring-1 ring-black ring-opacity-5 focus:outline-none"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="menu-button"
              tabindex="-1"
              [ngClass]="
                hideSortingOptions
                  ? 'scale-0 transform opacity-0 transition duration-75 ease-in'
                  : 'scale-100 transform opacity-100 transition duration-75 ease-in'
              "
            >
              <div class="py-1" role="none">
                <!--
                  Active: "bg-gray-100", Not Active: ""

                  Selected: "font-medium text-gray-900", Not Selected: "text-gray-500"
                -->
                <a
                  href="#"
                  class="block px-4 py-2 text-sm font-medium text-gray-900"
                  role="menuitem"
                  tabindex="-1"
                  id="menu-item-0"
                  >Most Popular</a
                >
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-500"
                  role="menuitem"
                  tabindex="-1"
                  id="menu-item-1"
                  >Best Rating</a
                >
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-500"
                  role="menuitem"
                  tabindex="-1"
                  id="menu-item-2"
                  >Newest</a
                >
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-500"
                  role="menuitem"
                  tabindex="-1"
                  id="menu-item-3"
                  >Price: Low to High</a
                >
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-500"
                  role="menuitem"
                  tabindex="-1"
                  id="menu-item-4"
                  >Price: High to Low</a
                >
              </div>
            </div>
          </div>

          <button
            type="button"
            class="-m-2 ml-5 p-2 text-gray-400 hover:text-gray-500 sm:ml-7"
          >
            <span class="sr-only">View grid</span>
            <app-icon icon="grid" classNames="h-5 w-5"></app-icon>
          </button>
          <button
            type="button"
            class="-m-2 ml-4 p-2 text-gray-400 hover:text-gray-500 sm:ml-6 lg:hidden"
            (click)="showHideMobileFiltersDrawer('show')"
          >
            <span class="sr-only">Filters</span>
            <app-icon icon="funnel-solid" classNames="h-5 w-5"></app-icon>
          </button>
        </div>
      </div>

      <section aria-labelledby="products-heading" class="pb-24 pt-6">
        <h2 id="products-heading" class="sr-only">Products</h2>

        <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
          <!-- Filters -->
          <app-shop-filters></app-shop-filters>

          <!-- Product grid -->
          <div class="lg:col-span-3">
            <app-products-grid [products]="products"></app-products-grid>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
