<form class="hidden lg:block">
  <div class="border-b border-gray-200 py-6">
    <h3 class="-my-3 flow-root">
      <!-- Expand/collapse section button -->
      <button
        type="button"
        class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500"
        aria-controls="filter-section-1"
        aria-expanded="false"
        (click)="updateCategoryCollapsed()"
      >
        <span class="font-medium text-gray-900">Category</span>
        <span class="ml-6 flex items-center">
          <!-- Expand icon, show/hide based on section open state. -->
          <app-icon
            icon="plus"
            classNames="h-5 w-5"
            *ngIf="shopFilterState.categoryCollapsed"
          ></app-icon>
          <!-- Collapse icon, show/hide based on section open state. -->
          <app-icon
            icon="minus"
            classNames="h-5 w-5"
            *ngIf="!shopFilterState.categoryCollapsed"
          ></app-icon>
        </span>
      </button>
    </h3>
    <!-- Filter section, show/hide based on section state. -->
    <div
      class="pt-6"
      id="filter-section-1"
      *ngIf="!shopFilterState.categoryCollapsed"
    >
      <div class="space-y-3">
        <app-category-tree
          [categoryTree]="categoryTree"
          (updateCategorySelection)="updateCategorySelection($event)"
        ></app-category-tree>
      </div>
    </div>
  </div>
  <div class="border-b border-gray-200 py-6">
    <h3 class="-my-3 flow-root">
      <button
        type="button"
        class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500"
        aria-controls="filter-section-2"
        aria-expanded="false"
        (click)="updateBrandCollapsed()"
      >
        <span class="font-medium text-gray-900">Brand</span>
        <span class="ml-6 flex items-center">
          <app-icon
            icon="{{ shopFilterState.brandCollapsed ? 'plus' : 'minus' }}"
            classNames="h-5 w-5"
          ></app-icon>
        </span>
      </button>
    </h3>
    <div
      class="pt-6"
      id="filter-section-2"
      *ngIf="!shopFilterState.brandCollapsed"
    >
      <div class="space-y-3">
        <div class="flex items-center" *ngFor="let brand of brands">
          <input
            id="{{ brand.id }}"
            [(ngModel)]="brand.checked"
            name="{{ brand.name }}"
            value="{{ brand.id }}"
            type="checkbox"
            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
            (change)="onBrandCheckboxChange(brand)"
          />
          <label for="{{ brand.id }}" class="ml-3 text-sm text-gray-600">{{
            brand.name
          }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="border-b border-gray-200 py-6">
    <h3 class="-my-3 flow-root">
      <!-- Expand/collapse section button -->
      <button
        type="button"
        class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500"
        aria-controls="filter-section-0"
        aria-expanded="false"
        (click)="updateColorCollapsed()"
      >
        <span class="font-medium text-gray-900">Color</span>
        <span class="ml-6 flex items-center">
          <app-icon
            icon="{{ shopFilterState.colorCollapsed ? 'plus' : 'minus' }}"
            classNames="h-5 w-5"
          ></app-icon>
        </span>
      </button>
    </h3>
    <!-- Filter section, show/hide based on section state. -->
    <div
      class="pt-6"
      id="filter-section-0"
      *ngIf="!shopFilterState.colorCollapsed"
    >
      <div class="space-y-3">
        <div class="flex items-center" *ngFor="let color of colors">
          <input
            id="{{ color.name }}"
            [(ngModel)]="color.checked"
            name="{{ color.name }}"
            value="{{ color.name }}"
            type="checkbox"
            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
            (change)="onColorCheckboxChange(color)"
          />
          <label for="filter-color-0" class="ml-3 text-sm text-gray-600">{{
            color.name
          }}</label>
        </div>
      </div>
    </div>
  </div>
</form>
