<div
  class="h-[38rem] w-full bg-cover bg-center"
  style="
    background-image: url(&quot;https://tailwindui.com/plus/img/ecommerce-images/home-page-03-feature-section-full-width.jpg&quot;);
  "
>
  <div class="flex h-full w-full items-center justify-center bg-gray-900/70">
    <div class="text-center">
      <h1 class="text-3xl font-bold tracking-tight text-white lg:text-4xl">
        Long-term thinking
      </h1>
      <p class="m-auto mt-4 text-xl font-semibold text-white lg:w-7/12">
        We're committed to responsible, sustainable, and ethical manufacturing.
        Our small-scale approach allows us to focus on quality and reduce our
        impact. We're doing our best to delay the inevitable heat-death of the
        universe.
      </p>
      <button
        class="mt-10 w-full transform rounded-md bg-white px-6 py-3 text-lg font-semibold capitalize text-gray-800 transition-colors duration-300 hover:bg-blue-500 focus:bg-blue-500 focus:outline-none lg:w-auto"
      >
        Read Our Story
      </button>
    </div>
  </div>
</div>
