<section class="bg-white">
  <div class="container px-6 py-6 mx-auto">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div>
        <h1 class="mt-4 text-xl font-semibold text-gray-800">
          Default Taiwindcss Config
        </h1>

        <p class="mt-2 text-gray-500 dark:text-gray-500">
          Lorem ipsum dolor sit amet
        </p>
      </div>

      <div>
        <h1 class="mt-4 text-xl font-semibold text-gray-800">
          Fully Responsive Components
        </h1>

        <p class="mt-2 text-gray-500 dark:text-gray-500">
          Lorem ipsum dolor sit amet
        </p>
      </div>

      <div>
        <h1 class="mt-4 text-xl font-semibold text-gray-800">
          <span></span> RTL Languages Support
        </h1>

        <p class="mt-2 text-gray-500 dark:text-gray-500">
          Lorem ipsum dolor sit amet
        </p>
      </div>
    </div>
  </div>
</section>
