<section class="bg-white">
  <div class="container mx-auto px-6 py-12 lg:w-10/12">
    <h1 class="text-center text-2xl font-semibold text-gray-800 lg:text-3xl">
      Have any Questions?
    </h1>

    <div class="mt-8 lg:-mx-12 lg:flex xl:mt-16">
      <div class="lg:mx-12">
        <h1 class="text-xl font-semibold text-gray-800">Table of Content</h1>

        <div class="mt-4 space-y-4 lg:mt-8">
          <a href="#" class="block text-blue-500 hover:underline">General</a>
          <a href="#" class="block text-gray-500 hover:underline"
            >Trust & Safety</a
          >
          <a href="#" class="block text-gray-500 hover:underline">Services</a>
          <a href="#" class="block text-gray-500 hover:underline">Billing</a>
          <a href="#" class="block text-gray-500 hover:underline"
            >Office Cleaning</a
          >
        </div>
      </div>

      <div class="mt-8 flex-1 lg:mx-12 lg:mt-0">
        <div>
          <button class="flex items-center focus:outline-none">
            <span class="rounded-full bg-gray-200 text-gray-400">
              <app-icon icon="minus-circle" classNames="h-6 w-6"></app-icon>
            </span>

            <h1 class="mx-4 text-xl text-gray-700">
              How i can play for my appoinment ?
            </h1>
          </button>

          <div class="mt-8 flex md:mx-10">
            <span class="border border-blue-500"></span>

            <p class="max-w-3xl px-4 text-gray-500">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni,
              eum quae. Harum officiis reprehenderit ex quia ducimus minima id
              provident molestias optio nam vel, quidem iure voluptatem,
              repellat et ipsa.
            </p>
          </div>
        </div>

        <hr class="my-8 border-gray-200" />

        <div>
          <button class="flex items-center focus:outline-none">
            <span class="rounded-full bg-blue-500 text-white">
              <app-icon icon="plus-circle" classNames="h-6 w-6"></app-icon>
            </span>

            <h1 class="mx-4 text-xl text-gray-700">
              What can i expect at my first consultation ?
            </h1>
          </button>
        </div>

        <hr class="0 my-8 border-gray-200" />

        <div>
          <button class="flex items-center focus:outline-none">
            <span class="rounded-full bg-blue-500 text-white">
              <app-icon icon="plus-circle" classNames="h-6 w-6"></app-icon>
            </span>

            <h1 class="mx-4 text-xl text-gray-700">
              What are your opening house ?
            </h1>
          </button>
        </div>

        <hr class="my-8 border-gray-200" />

        <div>
          <button class="flex items-center focus:outline-none">
            <span class="rounded-full bg-blue-500 text-white">
              <app-icon icon="plus-circle" classNames="h-6 w-6"></app-icon>
            </span>

            <h1 class="mx-4 text-xl text-gray-700">Do i need a referral ?</h1>
          </button>
        </div>

        <hr class="my-8 border-gray-200" />

        <div>
          <button class="flex items-center focus:outline-none">
            <span class="rounded-full bg-blue-500 text-white">
              <app-icon icon="plus-circle" classNames="h-6 w-6"></app-icon>
            </span>

            <h1 class="mx-4 text-xl text-gray-700">
              Is the cost of the appoinment covered by private health insurance
              ?
            </h1>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
