<section class="bg-white dark:bg-gray-900">
  <div
    class="container mx-auto flex min-h-screen items-center justify-center px-6"
  >
    <form
      class="w-full max-w-md"
      (ngSubmit)="signin()"
      [formGroup]="signinForm"
    >
      <img class="m-auto h-16 w-auto" src="/logo.png" alt="" />

      <h1
        class="mt-3 text-center text-2xl font-semibold capitalize text-gray-800 sm:text-3xl dark:text-white"
      >
        sign In
      </h1>

      <div
        class="mt-4 rounded-lg bg-red-50 p-4 text-sm text-red-800 dark:bg-gray-800 dark:text-red-400"
        role="alert"
        *ngIf="signinForm.errors?.['server']"
      >
        {{ signinForm.errors?.["server"] }}
      </div>

      <div class="relative mt-6 flex items-center">
        <span class="absolute">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="mx-3 h-6 w-6 text-gray-300 dark:text-gray-500"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3"
            />
          </svg>
        </span>

        <input
          type="tel"
          class="block w-full rounded-lg border bg-white px-11 py-3 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300"
          placeholder="Phone Number"
          id="phoneNumber"
          data-format="custom"
          data-delimiter="-"
          data-blocks="3 3 4"
          placeholder="000-000-0000"
          [class.dark:border-red-500]="formData['phoneNumber'] | isInvalid"
          formControlName="phoneNumber"
        />
      </div>
      <div *ngIf="formData['phoneNumber'] | hasError: 'required'">
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          Phone number is required
        </p>
      </div>

      <div class="relative mt-4 flex items-center">
        <span class="absolute">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="mx-3 h-6 w-6 text-gray-300 dark:text-gray-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"
            />
          </svg>
        </span>

        <input
          type="password"
          class="peer block w-full rounded-lg border bg-white px-10 py-3 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300"
          placeholder="Password"
          [class.dark:border-red-500]="
            signinForm.controls['password'] | isInvalid
          "
          formControlName="password"
        />
      </div>
      <div *ngIf="formData['password'] | hasError: 'required'">
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          Password is required
        </p>
      </div>

      <div class="mt-6">
        <button
          class="w-full transform rounded-lg bg-blue-500 px-6 py-3 text-sm font-medium capitalize tracking-wide text-white transition-colors duration-300 hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50"
          type="submit"
        >
          Sign in
        </button>

        <p class="mt-4 text-center text-gray-600 dark:text-gray-400">
          or sign in with
        </p>

        <a
          href="#"
          class="mt-4 flex transform items-center justify-center rounded-lg border px-6 py-3 text-gray-600 transition-colors duration-300 hover:bg-gray-50 dark:border-gray-700 dark:text-gray-200 dark:hover:bg-gray-600"
        >
          <svg class="mx-2 h-6 w-6" viewBox="0 0 40 40">
            <path
              d="M36.3425 16.7358H35V16.6667H20V23.3333H29.4192C28.045 27.2142 24.3525 30 20 30C14.4775 30 10 25.5225 10 20C10 14.4775 14.4775 9.99999 20 9.99999C22.5492 9.99999 24.8683 10.9617 26.6342 12.5325L31.3483 7.81833C28.3717 5.04416 24.39 3.33333 20 3.33333C10.7958 3.33333 3.33335 10.7958 3.33335 20C3.33335 29.2042 10.7958 36.6667 20 36.6667C29.2042 36.6667 36.6667 29.2042 36.6667 20C36.6667 18.8825 36.5517 17.7917 36.3425 16.7358Z"
              fill="#FFC107"
            />
            <path
              d="M5.25497 12.2425L10.7308 16.2583C12.2125 12.59 15.8008 9.99999 20 9.99999C22.5491 9.99999 24.8683 10.9617 26.6341 12.5325L31.3483 7.81833C28.3716 5.04416 24.39 3.33333 20 3.33333C13.5983 3.33333 8.04663 6.94749 5.25497 12.2425Z"
              fill="#FF3D00"
            />
            <path
              d="M20 36.6667C24.305 36.6667 28.2167 35.0192 31.1742 32.34L26.0159 27.975C24.3425 29.2425 22.2625 30 20 30C15.665 30 11.9842 27.2359 10.5975 23.3784L5.16254 27.5659C7.92087 32.9634 13.5225 36.6667 20 36.6667Z"
              fill="#4CAF50"
            />
            <path
              d="M36.3425 16.7358H35V16.6667H20V23.3333H29.4192C28.7592 25.1975 27.56 26.805 26.0133 27.9758C26.0142 27.975 26.015 27.975 26.0158 27.9742L31.1742 32.3392C30.8092 32.6708 36.6667 28.3333 36.6667 20C36.6667 18.8825 36.5517 17.7917 36.3425 16.7358Z"
              fill="#1976D2"
            />
          </svg>

          <span class="mx-2">Sign in with Google</span>
        </a>

        <div class="mt-6 text-center">
          <a
            [routerLink]="['/auth/signup']"
            class="text-sm text-blue-500 hover:underline dark:text-blue-400"
          >
            Don’t have an account yet? Sign up
          </a>
        </div>
      </div>
    </form>
  </div>
</section>
