<section class="bg-white">
  <div class="container mx-auto px-6 py-10">
    <div
      class="mt-8 grid grid-cols-1 gap-8 sm:grid-cols-5 lg:grid-cols-5 xl:mt-12 xl:gap-12"
    >
      <div class="w-full sm:col-span-3 lg:col-span-3">
        <form>
          <div class="mb-3 space-y-4">
            <h3 class="text-base font-semibold leading-7 text-gray-900">
              Delivery Methods
            </h3>

            <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
              <div
                class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4"
              >
                <div class="flex items-center">
                  <div class="flex h-5 items-center">
                    <input
                      id="dhl"
                      aria-describedby="dhl-text"
                      type="radio"
                      name="delivery-method"
                      value=""
                      class="text-primary-600 focus:ring-primary-600 dark:focus:ring-primary-600 h-4 w-4 border-gray-300 bg-white focus:ring-2"
                      checked
                    />
                  </div>

                  <div class="ms-4 text-sm">
                    <label
                      for="dhl"
                      class="font-medium leading-none text-gray-900"
                    >
                      Standard Delivery
                    </label>
                    <p id="dhl-text" class="mt-1 font-normal text-gray-900">
                      $15
                    </p>
                    <p
                      id="dhl-text"
                      class="mt-1 text-xs font-normal text-gray-500"
                    >
                      Get it by Tommorow
                    </p>
                  </div>
                </div>
              </div>

              <div
                class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4"
              >
                <div class="flex items-center">
                  <div class="flex h-5 items-center">
                    <input
                      id="fedex"
                      aria-describedby="fedex-text"
                      type="radio"
                      name="delivery-method"
                      value=""
                      class="text-primary-600 focus:ring-primary-600 dark:focus:ring-primary-600 h-4 w-4 border-gray-300 bg-white focus:ring-2"
                    />
                  </div>

                  <div class="ms-4 text-sm">
                    <label
                      for="fedex"
                      class="font-medium leading-none text-gray-900"
                    >
                      Free Delivery
                    </label>
                    <p
                      id="dhl-text"
                      class="mt-1 text-xs font-normal text-gray-500"
                    >
                      Get it by Friday, 13 Dec 2023
                    </p>
                  </div>
                </div>
              </div>

              <div
                class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4"
              >
                <div class="flex items-center">
                  <div class="flex h-5 items-center">
                    <input
                      id="express"
                      aria-describedby="express-text"
                      type="radio"
                      name="delivery-method"
                      value=""
                      class="text-primary-600 focus:ring-primary-600 dark:focus:ring-primary-600 h-4 w-4 border-gray-300 bg-white focus:ring-2"
                    />
                  </div>

                  <div class="ms-4 text-sm">
                    <label
                      for="express"
                      class="font-medium leading-none text-gray-900"
                    >
                      Express Delivery
                    </label>
                    <p id="dhl-text" class="mt-1 font-normal text-gray-900">
                      $49
                    </p>
                    <p
                      id="dhl-text"
                      class="mt-1 text-xs font-normal text-gray-500"
                    >
                      Get it by Today
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space-y-12">
            <div class="border-b border-gray-900/10 pb-12 sm:border-b-0">
              <h2 class="text-base font-semibold leading-7 text-gray-700">
                Contact Information
              </h2>

              <div class="">
                <label
                  for="email"
                  class="block text-sm font-medium leading-6 text-gray-700"
                  >Email address</label
                >
                <div class="mt-2">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    autocomplete="email"
                    class="block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
                  />
                </div>
              </div>

              <hr class="my-5 h-px border-t-0 bg-gray-200" />

              <h2 class="text-base font-semibold leading-7 text-gray-700">
                Shipping information
              </h2>

              <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-3 sm:grid-cols-6">
                <div class="sm:col-span-3">
                  <label
                    for="first-name"
                    class="block text-sm font-medium leading-6 text-gray-700"
                    >First name</label
                  >
                  <div class="mt-2">
                    <input
                      type="text"
                      name="first-name"
                      id="first-name"
                      autocomplete="given-name"
                      class="block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
                    />
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <label
                    for="last-name"
                    class="block text-sm font-medium leading-6 text-gray-700"
                    >Last name</label
                  >
                  <div class="mt-2">
                    <input
                      type="text"
                      name="last-name"
                      id="last-name"
                      autocomplete="family-name"
                      class="block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
                    />
                  </div>
                </div>

                <div class="sm:col-span-6">
                  <label
                    for="address"
                    class="block text-sm font-medium leading-6 text-gray-700"
                    >Address</label
                  >
                  <div class="mt-2">
                    <input
                      id="address"
                      name="address"
                      type="text"
                      class="block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
                    />
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <label
                    for="city"
                    class="block text-sm font-medium leading-6 text-gray-700"
                    >City</label
                  >
                  <div class="mt-2">
                    <input
                      id="city"
                      name="city"
                      type="text"
                      class="block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
                    />
                  </div>
                </div>
                <div class="sm:col-span-3">
                  <label
                    for="country"
                    class="block text-sm font-medium leading-6 text-gray-700"
                    >Country</label
                  >
                  <div class="mt-2">
                    <select
                      id="country"
                      name="country"
                      autocomplete="country-name"
                      class="block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm"
                    >
                      <option>United States</option>
                      <option>Canada</option>
                      <option>Mexico</option>
                    </select>
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <label
                    for="region"
                    class="block text-sm font-medium leading-6 text-gray-700"
                    >State / Province</label
                  >
                  <div class="mt-2">
                    <input
                      type="text"
                      name="region"
                      id="region"
                      autocomplete="address-level1"
                      class="block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
                    />
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <label
                    for="postal-code"
                    class="block text-sm font-medium leading-6 text-gray-700"
                    >ZIP / Postal code</label
                  >
                  <div class="mt-2">
                    <input
                      type="text"
                      name="postal-code"
                      id="postal-code"
                      autocomplete="postal-code"
                      class="block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
                    />
                  </div>
                </div>
                <div class="col-span-full">
                  <label
                    for="phone"
                    class="block text-sm font-medium leading-6 text-gray-700"
                    >Phone</label
                  >
                  <div class="mt-2">
                    <input
                      type="text"
                      name="phone"
                      id="phone"
                      class="block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="w-full sm:col-span-2 lg:col-span-2">
        <div class="mt-8">
          <div class="flow-root">
            <ul class="-my-6 divide-y divide-gray-200">
              <li class="flex py-6" *ngFor="let item of cartService.cartItems">
                <div
                  class="h-24 w-24 flex-shrink-0 rounded-md border border-gray-200"
                >
                  <img
                    src="{{ item.image }}"
                    alt=""
                    class="h-full w-full object-cover object-center"
                  />
                </div>

                <div class="ml-4 flex flex-1 flex-col">
                  <div>
                    <div
                      class="flex justify-between text-base font-medium text-gray-900"
                    >
                      <h3>
                        <a href="#">{{ item.name }}</a>
                      </h3>
                      <p class="ml-4">${{ item.price }}</p>
                    </div>
                    <p class="mt-1 text-sm text-gray-500">{{ item.color }}</p>
                  </div>
                  <div class="flex flex-1 items-end justify-between text-sm">
                    <p class="text-gray-500">Qty {{ item.quantity }}</p>

                    <div class="flex">
                      <button
                        type="button"
                        class="font-medium text-indigo-600 hover:text-indigo-500"
                      >
                        Remove
                      </button>
                    </div>
                  </div>
                </div>
              </li>

              <!-- More products... -->
            </ul>
          </div>
        </div>

        <div class="border-t border-gray-200 px-4 py-6 sm:px-6">
          <div class="flex justify-between text-base font-medium text-gray-900">
            <p>Subtotal</p>
            <p>${{ cartService.subTotal }}</p>
          </div>
          <p class="mt-0.5 text-sm text-gray-500">
            Shipping and taxes calculated at checkout.
          </p>
          <div class="mt-6" [routerLink]="['/', 'payment']">
            <a
              class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700"
              >Proceed to Payment</a
            >
          </div>
          <div
            class="mt-6 flex justify-center text-center text-sm text-gray-500"
          >
            <p>
              or
              <button
                type="button"
                class="font-medium text-indigo-600 hover:text-indigo-500"
                [routerLink]="['/', 'shop']"
              >
                Continue Shopping
                <span aria-hidden="true"> &rarr;</span>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
