<section class="bg-white">
  <div class="container mx-auto px-6 py-10">
    <nav aria-label="Breadcrumb">
      <ol class="mx-auto flex max-w-2xl items-center space-x-2 lg:max-w-7xl">
        <li>
          <div class="flex items-center">
            <a href="#" class="mr-2 text-sm font-medium text-gray-900">Home</a>
            <app-icon
              icon="backslash"
              classNames="h-5 w-4 text-gray-300"
            ></app-icon>
          </div>
        </li>

        <li class="text-sm">
          <a
            href="#"
            aria-current="page"
            class="font-medium text-gray-500 hover:text-gray-600"
            >Checkout</a
          >
        </li>
      </ol>
    </nav>
    <div
      class="mt-5 grid grid-cols-1 gap-8 sm:grid-cols-5 lg:grid-cols-5 xl:mt-8 xl:gap-12"
    >
      <div class="w-full sm:col-span-3 lg:col-span-3">
        <form [formGroup]="checkoutForm">
          <div class="mb-3 space-y-4">
            <h3 class="text-base font-semibold leading-7 text-gray-900">
              Delivery Methods
            </h3>

            <div
              class="mt-4 rounded-lg bg-red-50 p-4 text-sm text-red-800"
              role="alert"
              *ngIf="checkoutForm.errors?.['server']"
            >
              {{ checkoutForm.errors?.["server"] }}
            </div>

            <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
              <div
                class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4"
                *ngFor="let method of deliveryMethods"
              >
                <div class="flex items-center">
                  <div class="flex h-5 items-center">
                    <input
                      id="{{ method.deliveryMethod }}"
                      type="radio"
                      value="{{ method.deliveryMethod }}"
                      class="text-primary-600 focus:ring-primary-600 dark:focus:ring-primary-600 h-4 w-4 border-gray-300 bg-white focus:ring-2"
                      formControlName="deliveryMethod"
                    />
                  </div>

                  <div class="ms-4 text-sm">
                    <label
                      for="{{ method.deliveryMethod }}"
                      class="font-medium leading-none text-gray-900"
                    >
                      {{ method.label }}
                    </label>
                    <p id="dhl-text" class="mt-1 font-normal text-gray-900">
                      ${{ method.price.amount }}
                    </p>
                    <p
                      id="dhl-text"
                      class="mt-1 text-xs font-normal text-gray-500"
                    >
                      {{ method.timeline }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space-y-12">
            <div class="border-b border-gray-900/10 pb-12 sm:border-b-0">
              <h2 class="text-base font-semibold leading-7 text-gray-700">
                Contact Information
              </h2>

              <div class="">
                <label
                  for="email"
                  class="block text-sm font-medium leading-6 text-gray-700"
                  >Email address</label
                >
                <div class="mt-2">
                  <input
                    type="email"
                    id="email"
                    autocomplete="email"
                    class="block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
                    [class.dark:border-red-500]="formData['email'] | isInvalid"
                    formControlName="email"
                  />
                </div>
                <div *ngIf="formData['email'] | hasError: 'required'">
                  <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                    Email is required
                  </p>
                </div>
              </div>

              <hr class="my-5 h-px border-t-0 bg-gray-200" />

              <h2 class="text-base font-semibold leading-7 text-gray-700">
                Shipping information
              </h2>

              <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-3 sm:grid-cols-6">
                <div class="sm:col-span-3">
                  <label
                    for="first-name"
                    class="block text-sm font-medium leading-6 text-gray-700"
                    >First name</label
                  >
                  <div class="mt-2">
                    <input
                      type="text"
                      id="first-name"
                      autocomplete="given-name"
                      class="block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
                      [class.dark:border-red-500]="
                        formData['firstName'] | isInvalid
                      "
                      formControlName="firstName"
                    />
                  </div>
                  <div *ngIf="formData['firstName'] | hasError: 'required'">
                    <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                      Firstname is required
                    </p>
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <label
                    for="last-name"
                    class="block text-sm font-medium leading-6 text-gray-700"
                    >Last name</label
                  >
                  <div class="mt-2">
                    <input
                      type="text"
                      id="last-name"
                      autocomplete="family-name"
                      class="block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
                      [class.dark:border-red-500]="
                        formData['lastName'] | isInvalid
                      "
                      formControlName="lastName"
                    />
                  </div>
                  <div *ngIf="formData['lastName'] | hasError: 'required'">
                    <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                      LastName is required
                    </p>
                  </div>
                </div>

                <div class="sm:col-span-6">
                  <label
                    for="address"
                    class="block text-sm font-medium leading-6 text-gray-700"
                    >street</label
                  >
                  <div class="mt-2">
                    <input
                      id="street"
                      type="text"
                      class="block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
                      [class.dark:border-red-500]="
                        formData['street'] | isInvalid
                      "
                      formControlName="street"
                    />
                  </div>
                  <div *ngIf="formData['street'] | hasError: 'required'">
                    <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                      Street is required
                    </p>
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <label
                    for="city"
                    class="block text-sm font-medium leading-6 text-gray-700"
                    >City</label
                  >
                  <div class="mt-2">
                    <input
                      id="city"
                      type="text"
                      class="block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
                      [class.dark:border-red-500]="formData['city'] | isInvalid"
                      formControlName="city"
                    />
                  </div>
                  <div *ngIf="formData['city'] | hasError: 'required'">
                    <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                      City is required
                    </p>
                  </div>
                </div>
                <div class="sm:col-span-3">
                  <label
                    for="country"
                    class="block text-sm font-medium leading-6 text-gray-700"
                    >Country</label
                  >
                  <div class="mt-2">
                    <select
                      id="country"
                      autocomplete="country-name"
                      class="block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm"
                      formControlName="country"
                    >
                      <option value="usa">United States</option>
                      <option value="can">Canada</option>
                      <option value="max">Mexico</option>
                    </select>
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <label
                    for="state"
                    class="block text-sm font-medium leading-6 text-gray-700"
                    >State / Province</label
                  >
                  <div class="mt-2">
                    <input
                      type="text"
                      id="state"
                      autocomplete="address-level1"
                      class="block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
                      [class.dark:border-red-500]="
                        formData['state'] | isInvalid
                      "
                      formControlName="state"
                    />
                  </div>
                  <div *ngIf="formData['state'] | hasError: 'required'">
                    <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                      State is required
                    </p>
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <label
                    for="zipCode"
                    class="block text-sm font-medium leading-6 text-gray-700"
                    >ZIP / Postal code</label
                  >
                  <div class="mt-2">
                    <input
                      type="text"
                      id="zipCode"
                      class="block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
                      [class.dark:border-red-500]="
                        formData['zipCode'] | isInvalid
                      "
                      formControlName="zipCode"
                    />
                  </div>
                  <div *ngIf="formData['zipCode'] | hasError: 'required'">
                    <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                      Zip Code is required
                    </p>
                  </div>
                </div>
                <div class="col-span-full" *ngIf="!isLoggedIn">
                  <label
                    for="phoneNumber"
                    class="block text-sm font-medium leading-6 text-gray-700"
                    >Phone</label
                  >
                  <div class="mt-2">
                    <input
                      type="tel"
                      placeholder="Phone Number"
                      id="phoneNumber"
                      data-format="custom"
                      data-delimiter="-"
                      data-blocks="3 3 4"
                      placeholder="000-000-0000"
                      [class.dark:border-red-500]="
                        formData['phoneNumber'] | isInvalid
                      "
                      formControlName="phoneNumber"
                      class="block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
                    />
                  </div>
                  <div *ngIf="formData['phoneNumber'] | hasError: 'required'">
                    <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                      Phone number is required
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="w-full sm:col-span-2 lg:col-span-2">
        <div class="mt-8">
          <div class="flow-root">
            <ul class="-my-6 divide-y divide-gray-200">
              <li class="flex py-6" *ngFor="let item of cartService.cartItems">
                <div
                  class="h-24 w-24 flex-shrink-0 rounded-md border border-gray-200"
                >
                  <img
                    src="{{ item.image }}"
                    alt=""
                    class="h-full w-full object-cover object-center"
                  />
                </div>

                <div class="ml-4 flex flex-1 flex-col">
                  <div>
                    <div
                      class="flex justify-between text-base font-medium text-gray-900"
                    >
                      <h3>
                        <a href="#">{{ item.name }}</a>
                      </h3>
                      <p class="ml-4">${{ item.price }}</p>
                    </div>
                    <p class="mt-1 text-sm text-gray-500">{{ item.color }}</p>
                  </div>
                  <div class="flex flex-1 items-end justify-between text-sm">
                    <p class="text-gray-500">Qty {{ item.quantity }}</p>

                    <div class="flex">
                      <button
                        type="button"
                        class="font-medium text-indigo-600 hover:text-indigo-500"
                      >
                        Remove
                      </button>
                    </div>
                  </div>
                </div>
              </li>

              <!-- More products... -->
            </ul>
          </div>
        </div>

        <div class="mt-5 border-t border-gray-200 px-4 py-6 sm:px-6">
          <div class="flex justify-between text-base font-medium text-gray-900">
            <p>Subtotal</p>
            <p>${{ cartService.subTotal }}</p>
          </div>
          <p class="mt-0.5 text-sm text-gray-500">
            Shipping and taxes calculated at checkout.
          </p>
          <div class="mt-6">
            <a
              type="button"
              class="flex cursor-pointer items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700"
              (click)="submitOrder()"
              >Place Order & Proceed to Payment</a
            >
          </div>
          <div
            class="mt-6 flex justify-center text-center text-sm text-gray-500"
          >
            <p>
              or
              <button
                type="button"
                class="font-medium text-indigo-600 hover:text-indigo-500"
                [routerLink]="['/', 'shop']"
              >
                Continue Shopping
                <span aria-hidden="true"> &rarr;</span>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
